<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DE5F47F1CE2A861008CA593</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE5F4951CE2A861008CA593</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE5F4A01CE2A861008CA593</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
